
<%- include('../partials/messages') %>    
<div class="row" style="margin-top: 5rem;">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1>Log In</h1>
            <form action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            <p class="lead mt-3">
                <a href="/users/signup">Sign Up</a>
            </p>
        </div>
    </div>
</div>